@model MVC.Models.Uzivatel; 

@{
    ViewData["Title"] = "Profil";

    ViewData["Uzivatel"] = Model.Jmeno;
}

<h2>Profil</h2>

<p>Jste přihlášeni jako <b>@ViewData["Uzivatel"]</b>.</p>
<a href="/Uzivatel/Odhlaseni">Odhlásit se</a>
