<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/layout.css" />

    <title>ASP.NET Core 5.0 MVC</title>
</head>
<body>
    <div class="kontejner">
        <h1>ASP Poznámky</h1>
        @RenderBody()
    </div>
</body>
</html>
