@model AspPoznamky.Models.Uzivatel;

@{
    Layout = "_Layout";

    ViewData["Title"] = "Profil";
}

<h2>Profil</h2>

<p>Jste přihlášeni jako <b>@Model.Jmeno</b>.</p>

<a href="/Uzivatel/Odhlaseni">Odhlásit se</a>
<br />

@if (Model.NemaPoznamky)
{
    <p><i>Nemáte žádné uložené poznámky.</i></p>
    <a href="/Poznamka/Vytvoreni">Přidat novou poznámku</a>
}
else
{
    <h3>Vaše poznámky</h3>
    <a href="/Poznamka/Vytvoreni">Přidat novou poznámku</a>
    <ul>
        @foreach (var poznamka in Model.Poznamky)
        {
        <li>
            <b>@poznamka.DatumVytvoreni</b>
            <p>@poznamka.Text</p>
            <a href="/Poznamka/Uprava/@poznamka.Id">Upravit</a>
            <a href="/Poznamka/Smazani/@poznamka.Id">Smazat</a>
        </li>
        }
    </ul>
}
