@model AspPoznamky.Models.Uzivatel;

@{
    Layout = "_Layout";

    ViewData["Title"] = "Profil";

    ViewData["Uzivatel"] = Model.Jmeno;
}

<h2>Profil</h2>

<p>Jste přihlášeni jako <b>@ViewData["Uzivatel"]</b>.</p>

<a href="/Uzivatel/Odhlaseni">Odhlásit se</a>
<br />

@if (ViewData["Poznamky"] == null)
{
    <a href="/Poznamka/Vytvoreni">Přidat poznámku</a>
    <p><i>Nemáte žádné uložené poznámky.</i></p>
}
else
{
    <h3>Vaše poznámky</h3>
    <a href="/Poznamka/Vytvoreni">Přidat poznámku</a>
    <ul>
        @foreach (var poznamka in (List<AspPoznamky.Models.Poznamka>)ViewData["Poznamky"])
        {
            <li>
                <b>@poznamka.DatumVytvoreni</b>
                <p>@poznamka.Text</p>
                <a href="/Poznamka/Smazat/@poznamka.Id">Smazat</a>
            </li>
        }
    </ul>
}
