@{
    Layout = "_Layout";

    ViewData["Title"] = "Registrace";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="/Uzivatel/Registrace">
    <input type="text" name="jmeno" placeholder="Jméno..." /><br />
    <input type="password" name="heslo" placeholder="Heslo..." /><br />
    <input type="password" name="heslo_kontrola" placeholder="Heslo pro kontrolu..." /><br />
    <input type="submit" value="Registrovat se" />
</form>

<a href="/Uzivatel/Prihlaseni">Už mám účet</a>
<a href="/Domov/Index">Domů</a>
