@{
    Layout = "_Layout";

    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>

<p>Pro používání aplikace se musíte přihlásit.</p>

<a href="/Uzivatel/Registrace">Registrovat</a>
<a href="/Uzivatel/Prihlaseni">Přihlásit</a>
